<link rel="import" href="../../aba-js-imports/lodash-import.html">
<link rel="import" href="../../aba-js-imports/postaljs-import.html">
<script>
	(function (window) {

		class UIPermissions {
			constructor({ configuration, logger = console.log, channel = 'default', topic = 'ui/permissions' } = {}) {
				this.logger = logger;
				this.channel = channel;
				this.topic = topic;
				this.configuration = configuration;
			}

			async work() {
				let response = await auth0Fetch(`${this.configuration.api.dashboardBaseURL}/api/v2/settings/permissions/`, {
					method: 'GET'
				});
				if (!response.ok) {
					this.logger(response)
					throw new Error(`fetching ui permissions failed`)
				}
				let userPermissions = await response.json()
				postal.publish({
					channel: this.channel,
					topic: this.topic,
					data: userPermissions,
					headers: {
						preserve: true
					}
				});
			}
		}

		if (!window.abas) {
			window.abas = {}
		}
		if (!window.abas.dashboardStateModule) {
			window.abas.dashboardStateModule = {}
		}
		window.abas.dashboardStateModule.UIPermissions = UIPermissions;
	}(window));
</script>