<link rel="import" href="../../aba-js-imports/lodash-import.html">
<link rel="import" href="../../aba-js-imports/postaljs-import.html">
<script>
(function(window) {
	class URLContextPump {

		constructor({ searchString = "", logger = console.log, channel = "default" } = {}) {
			this.searchString = searchString;
			this.logger = logger;
			this.channel = channel;
		}
	
		get contextParameter() {
			return "context";
		}
	
		work() {
			let messages = [];
			let contextParams = new URLSearchParams(this.searchString).getAll(this.contextParameter);
			contextParams.forEach((p) => {
				/**
				 * format: topic;value
				 */
				if (p.includes(";")) {
					let split = p.split(";");
					let topic = _.get(split, "[0]", "").trim();
					let data = {};
					let value = _.get(split, "[1]", "").trim();
					if (value.startsWith("(")) {
						data.id = value;
					} else {
						data.id = value; // keep it, because it worked like this
						data.nummer = value;
					}

					const message = {
						topic: topic,
						data: data
					};
					messages.push(message);
				}
				/**
				 * format: IDG (see _splitAbsId)
				 */
				else {
					const splittedAbasId = this._splitAbasId(p);
					if (splittedAbasId) {
						let { itemId, database, version, topic, group, objectGroup, isTable } = splittedAbasId;

						/* default message: Topic = objectGroup */
						const message = {
							topic: topic.trim(),
							data: {
								id: `(${itemId},${database},${version})`
							}
						}
						messages.push(message);

						/**
						 *  In case of "Hülsen" also publish to main group
						 *  Example: (x,3:22.1,0) publishes topics 3:22 and also 3:1
						 */
						if (objectGroup && objectGroup != group) {
							const message2 = {
								topic: `${database}:${group}`.trim(),
								data: {
									id: `(${itemId},${database},${version})`
								}
							}
							messages.push(message2);
						}
					} else {
						this.logger({ source: this.constructor.name, message: `${p} is no valid context` });
					}
				}
			})
			let validMessage = (message) => {
				return message.topic && message.data.id;
			}
			let validMessages = messages.filter(validMessage);
			validMessages.forEach((message) => {
				postal.publish({
					channel: this.channel,
					topic: message.topic,
					data: message.data,
					headers: {
						preserve: true
					}
				});
			})
			return Promise.resolve({module: this.constructor.name, data: validMessages });
		}
	
		_splitAbasId(abasId) {
			/**
			 * Old format: (sn,db:grp.objgrpprt,vn)
			 */
			let matchResult = abasId.match(/^\((\d+),(\d+):(\d+)\.(\d+),(\d+)\)$/);
			if (matchResult) {
				return {
					itemId: matchResult[1],
					topic: `${matchResult[2]}:${matchResult[4]}`,
					version: matchResult[5],
					database: matchResult[2],
					group: matchResult[3],
					objectGroup: matchResult[4]
				};
			}
			/**
			 * New format only with objectgroup: (sn,objgrp,vn)
			 *
			 * (Normal) Artikelverweis:	(154,2:1,0)
			 * (Hülse)  Auftrags-kopf:	 (123,3:22,0)
			 * (Hülse)  Auftrags-position: (124,3:22:1,0)
			 */
			matchResult = abasId.match(/^\((\d+),(\d+):(\d+)(:1)?,(\d+)\)$/);
			if (matchResult) {
				let isTable = matchResult[4] ? true : false;
				return {
					itemId: matchResult[1],
					topic: `${matchResult[2]}:${matchResult[3]}`,
					version: matchResult[5],
					database: matchResult[2],
					group: matchResult[3],
					isTable: isTable
				};
			}
			return null;
		}
	}
	
	if (!window.abas) {
		window.abas = {}
	}
	if (!window.abas.dashboardStateModule) {
		window.abas.dashboardStateModule = {}
	}
	window.abas.dashboardStateModule.URLContextPump = URLContextPump;
}(window));
</script>