<link rel="import" href="../../aba-js-imports/lodash-import.html">
<link rel="import" href="../../aba-js-imports/postaljs-import.html">
<script>
(function (window) {

	class UserInfo {

		constructor({ searchString = "", channel, topic, configuration, fetchClients, logger = console.log } = {}) {
			this.defaultClientName = new URLSearchParams(searchString).get("mandant");
			this.channel = channel;
			this.topic = topic;
			this.configuration = configuration;
			this.fetchClients = fetchClients;
			this.logger = logger;
		}

		work() {
			return new Promise((resolve, reject) => {
				try {
					resolve(this._loadAndPublishUserinfos(this.configuration));
				} catch (error) {
					this.logger({ source: this.constructor.name, message: error });
					reject(error);
				}
			});
		}

		_loadAndPublishUserinfos(config) {
			return this.fetchClients({
				erpBaseURL: this.configuration.api.erpBaseURL
			}).then((erpClientsList) => { // load user info for each client
				let userInfoRequests = [];
				erpClientsList.forEach((client) => {
					let request = auth0Fetch(`${this.configuration.api.erpBaseURL}${client.href}/userInfo`, {
						headers: new Headers({
							"accept": "application/abas.objects+json"
						})
					}).then((response) => {

						if (response.ok) {
							return response.json();
						}
						throw new Error(response.status);

					}).then((userInfo) => {
						return {
							client: client,
							data: _.get(userInfo, "content.data", {})
						};
					}).then((userCompanyInfo) => {
						return this._fetchClientEnvironment({
							erpBaseURL: this.configuration.api.erpBaseURL,
							companyHref: client.href
						}).then( (environment) => {
							userCompanyInfo.client["environment"] = environment;
							userCompanyInfo.client["default"] = (environment.erpClientId === this.defaultClientName);
							return userCompanyInfo;
						});
					}).catch((error) => {
						// debugger
						// it is possible that in multi client environment some users are not configured for every client
						// then the userInfo service returns 401. Since it is specification i just ignore the error.
						// All errors are ignored. Best effort in deliverance
					});
					userInfoRequests.push(request);
				});

				return Promise.all(userInfoRequests).then(userInfos => {
					let validList = _.filter(userInfos, _.isObject); // if items are undefined userInfo service call failed
					postal.publish({
						channel: this.channel,
						topic: this.topic,
						data: validList,
						headers: {
							preserve: true
						}
					});
					let defaultCompany = _.find(_.map(userInfos, "client"), {default: true});
					if (defaultCompany) {
						postal.publish({
							channel: this.channel,
							topic: "defaultCompany",
							data: defaultCompany,
							headers: {
								preserve: true
							}
						});
					}
					return { module: this.constructor.name, data: validList };
				});
			}).catch((error) => {
				this.logger({ source: this.constructor.name, message: error });
			});
		}

		_fetchClientEnvironment ({companyHref: companyHref, erpBaseURL: erpBaseURL}) {
			const headers = new Headers();
			headers.set("accept", "application/abas.objects.simple+json");
			headers.set("content-type", "application/json");
			return auth0Fetch(`${erpBaseURL}${companyHref}/about`, {
				method: "GET",
				headers: headers
			}).then((resp) => {
				if (resp.ok) {
					return resp.json();
				}
				this.logger({ source: this.constructor.name, message: `${resp.status} cannot fetch about site` });
				return {};
			})
		}
	}

	if (!window.abas) {
		window.abas = {}
	}
	if (!window.abas.dashboardStateModule) {
		window.abas.dashboardStateModule = {}
	}
	window.abas.dashboardStateModule.UserInfo = UserInfo;
}(window));
</script>