<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../aba-js-imports/postaljs-import.html">
<link rel="import" href="abas-dashboard-state.html">
<dom-module id="abas-dashboard-state-meta">
	<script>
		class AbasDashboardStateMeta extends Polymer.Element {
			static get is() {
				return "abas-dashboard-state-meta"
			}
			static get properties() {
				return {
					userInfo: {
						type: Object,
						notify: true
					},
					uiPermissions: {
						type: Object,
						notify: true
					},
					_subscription: {
						type: Object,
						value: () => {
							return {};
						}
					},
					_uipSubscription: {
						type: Object,
						value: () => {
							return {};
						}
					}
				}
			}
			_incomingUserInfo(userInfo, envelope) {
				this.set("userInfo", userInfo);
			}
			_incomingUIPermissions(uiPermissions, envelope) {
				this.set("uiPermissions", uiPermissions);
			}
			connectedCallback() {
				super.connectedCallback()
				this._subscription = postal.subscribe({
					channel: AbasDashboardState.channel,
					topic: AbasDashboardState.topic.userInfo,
					callback: this._incomingUserInfo.bind(this)
				}).enlistPreserved();
				this._uipSubscription = postal.subscribe({
					channel: AbasDashboardState.channel,
					topic: AbasDashboardState.topic.uiPermissions,
					callback: this._incomingUIPermissions.bind(this)
				}).enlistPreserved();
			}
			disconnectedCallback() {
				super.disconnectedCallback();
				this._subscription.unsubscribe();
				this._uipSubscription.unsubscribe();
			}
		}
		customElements.define(AbasDashboardStateMeta.is, AbasDashboardStateMeta);
	</script>
</dom-module>