<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../abas-widget-framework/api.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<link rel="import" href="../aba-js-imports/postaljs-import.html">
<link rel="import" href="../abas-config/abas-config.html">
<!-- module imports -->
<link rel="import" href="modules/UserInfo.html">
<link rel="import" href="modules/URLContextPump.html">
<link rel="import" href="modules/UIPermissions.html">

<script>
	/**
	 * Retrieve and publish various information to run boards and widgets
	 * @customElement
	 * @polymer
	 */
	class AbasDashboardState {
		constructor({ configuration, urlSearchString } = {}) {
			this.configuration = configuration;
			this.urlSearchString = urlSearchString;
			// module classes shorthand
			this.URLContextPump = window.abas.dashboardStateModule.URLContextPump;
			this.UserInfo = window.abas.dashboardStateModule.UserInfo;
			this.UIPermissions = window.abas.dashboardStateModule.UIPermissions;
		}

		async setupState() {
			return Promise.all([
				new this.UserInfo({
					searchString: this.urlSearchString,
					channel: AbasDashboardState.channel,
					topic: AbasDashboardState.topic.userInfo,
					configuration: this.configuration,
					fetchClients: abasWidgets.API.fetchErpClients,
					logger: AbasDashboardState.logger
				}).work(),
				new this.URLContextPump({
					searchString: this.urlSearchString,
					logger: AbasDashboardState.logger
				}).work(),
				new this.UIPermissions({
					logger: AbasDashboardState.logger,
					configuration: this.configuration,
					channel: AbasDashboardState.channel,
					topic: AbasDashboardState.topic.uiPermissions
				}).work()
			])
		}

		static get channel() {
			return `abas-dashboard-state/channel`
		}

		static get topic() {
			return {
				userInfo: "userInfo",
				defaultCompany: "defaultCompany",
				uiPermissions: "ui/permissions"
			}
		}

		static get userInfo() {
			return new Promise((resolve, reject) => {
				let sub = postal.subscribe({
					channel: AbasDashboardState.channel,
					topic: AbasDashboardState.topic.userInfo,
					callback: (data, __) => {
						try {
							resolve(data)
						} catch (error) {
							reject(error)
							AbasDashboardState.logger({ message: error })
						}
					}
				}).enlistPreserved().once()
			})
		}

		static get defaultCompany() {
			return new Promise((resolve, reject) => {
				let sub = postal.subscribe({
					channel: AbasDashboardState.channel,
					topic: AbasDashboardState.topic.defaultCompany,
					callback: (data, __) => {
						try {
							resolve(data)
						} catch (error) {
							reject(error)
							AbasDashboardState.logger({ message: error })
						}
					}
				}).enlistPreserved().once()
			})
		}

		static get uiPermissions() {
			return new Promise((resolve, reject) => {
				let sub = postal.subscribe({
					channel: AbasDashboardState.channel,
					topic: AbasDashboardState.topic.uiPermissions,
					callback: (data, __) => {
						try {
							resolve(data)
						} catch (error) {
							reject(error)
							AbasDashboardState.logger({ message: error })
						}
					}
				}).enlistPreserved().once()
			})
		}

		static logger({ source = AbasDashboardState.constructor.name, message } = {}) {
			console.log(`${source}:${message}`)
		}

	}
	window.AbasDashboardState = AbasDashboardState;

</script>

<dom-module id="abas-dashboard-state">
	<script>

		/**
		 * A polymer element wrapping the AbasDashboardState.class
		 * @customElement
		 * @polymer
		 */
		class AbasDashboardStateElement extends Polymer.Element {
			static get is() {
				return "abas-dashboard-state";
			}

			connectedCallback() {
				super.connectedCallback();
				this._subscription = postal.subscribe({
					channel: AbasConfig.channel,
					topic: AbasConfig.topic.configuration,
					callback: this._loadAndPublishState.bind(this)
				}).enlistPreserved();
			}

			disconnectedCallback() {
				super.disconnectedCallback();
				this._subscription.unsubscribe();
			}

			_loadAndPublishState(config) {
				let state = new AbasDashboardState({ configuration: config, urlSearchString: document.location.search });
				state.setupState();
			}
		}
		customElements.define(AbasDashboardStateElement.is, AbasDashboardStateElement);
	</script>
</dom-module>